body{
    padding: 32px;
    background:linear-gradient(150deg, #c9f7e1, #e8fff4);
    font-family: monospace;
    margin: 0;
    color: #16352a;
}

.okvir{
    max-width: 1100px;
    background-color: azure;
    border-radius: 22px;
    padding: 34px;
    box-shadow: 14px 20px rgba(0,0,0,0.10);
    margin:auto

}

h1{
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 30px;
}

.podnaslov{
    text-align: center;
    font-size: 15px;
    line-height: 2;
    color: darkblue;
    margin-bottom: 30px;
    line-height: 1.7px;
    color: #2e5f4b;
}

.blok1{
    font-size: 17px;
    background-color: #e9fff5;
    border-radius: 20px;
    border: 1px solid #d7daff;
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
    box-shadow: #000000d8;
}

.blok2{
    font-size: 17px;
    background:linear-gradient(90deg, #7ee0b2, #c8ffe8);
    border-radius: 20px;
    border: 1px solid #d7daff;
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
    box-shadow: #000000d8;
}

.blok3{
    font-size: 17px;
    background-image:url("pozadina1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    border: 1px solid #d7daff;
    padding: 20px;
    margin-bottom: 18px;
    margin-top: 18px;
    box-shadow: #000000d8;

}

.tekst{
    background: rgba(255,255,255,0.70);
    border-radius: 15px;
    padding: 10px;
}

.naglasak{
    background-color: rgba(11, 122, 85, 0.14);
    font-weight: 100;
    color: #0b7a55;
    padding: 5px;
    border-radius: 8px;

}

h2{
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #145c43;
}

p{
    margin: 0;
    line-height: 1.75px;
    color: #16352a;
}