body{
    background-image: url(Poz2.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
}
.overlay{
    width: 1300px;
    max-width: 1300px;
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(67, 67, 67, 0.31);
    border: 3px solid rgba(0, 0, 0, 0.636);
    color: white;
    border-radius: 4px;
    align-items: center;
}
h1{
    color: azure;
    text-align: center;
    font-size: 38px;
}
h2{
    color: rgb(225, 184, 0);
    text-align: center;
    font-size: 19px;
}
.crtica{
    width: 480px;
    border: 1px black solid;
}
.lilnigga{
    width: 500px;
    height: 115px;
    background-color: rgba(114, 114, 114, 0.29);
    margin: 0 auto;
    border-top: black 3px solid;
    border-left: darkgrey 2px solid;
    border-right: darkgrey 2px solid;
    border-bottom: darkgrey 2px solid;
    text-align: center;
}


.slik{
    margin: 0 auto;
    display: block;
    width: 80%px;
    height: 399px;
    border: 3px solid gold;
    transition: transform 0.3s ease;
}
.slik:hover {
  transform: scale(1.02); 
  transition: all 0.2s ease;
}


.biralica:hover {
  transform: skewX(-20deg) scale(1.05); /*jer je pgoram pametni pa kad bi stel da animnacija bude lepo zjEBE CELI DIV I MORAM OVO ISKAT PO GUGLU 9 MINUT*/
}
.biralica{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 40px;
  transform: skewX(-14deg);
  transition: transform 0.3s ease;
}   
.tobi{
  background-color: rgba(20, 20, 19, 0.78);
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  width: 80%
}
.tobi ul{
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  margin: 0;
}
.tobi a {
  color: gold;
  display: inline-block;
  text-decoration: none; /*AHA AK OV DENE ONDA NEMA ONIH CRTA ZMOTANIH ISPOD LINKOVA E*/
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: all 0.2s ease-out;
}
.tobi a:hover {
  color: white;
  text-shadow: 0 0 8px gold;
  transform: scale(1.15); 
}
.tobi li {
  display: inline; /*ovo tocke mekne nekim cudom*/
}


.okvir{
    display: flex;
    margin: 0 auto;
    padding-top: 30px;
}
.okvirići{
    background-color: rgba(86, 86, 86, 0.249);
    max-width: 370px;
    height: flex;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid black;
}


.nekivrag{
  color: gold;
  background-color: rgba(20, 20, 20, 0.9);
  border-left: 5px solid gold;
  border-right: 3px solid gold;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px auto;
  width: 64%;
  transform: skewX(-10deg);
}


.h22{
  font-size: 30px;
  padding-left: 35px;
  margin: 0;
}
.h11{
  font-size: 17px;
  padding-left: 30px;
}
.sinnah{
  height: 215px;
  width: 215px;
  padding: 5px;
  flex-shrink: 0;
}
.okvirprdonja{
  display: flex;
  padding: 15px;
  border-left: 5px solid gold;
  width: 90%;
  height: 220px;
  background-color: rgba(86, 86, 86, 0.249);
  transition: transform 0.3s ease;
  margin: 20px auto;
  gap: 20px;
  
}
.okvirprdonja:hover {
  transform: scale(1.02); 
  transition: all 0.2s ease;
}
.omot{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left; 
  gap: 5px; 
  margin-left: 16px; 
  background-color: rgba(20, 20, 20, 0.6);
  padding-top: 18px;
  border-top: 3px solid gold;
}
.oruze{
  margin-left: auto; 
  margin-right: 30px; 
  padding: 40px 14px;
  background-color: rgba(20, 20, 20, 0.6); 
  border-right: 3px solid gold; 
  flex-direction: column; 
  align-items: flex-start; 
  gap: 5px; 
  width: 170px;
  display: flex;
  justify-content: center;
}
.oruz-naslov {
  color: gold;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
  padding-left: 54px;
}
.oruz-ime {
  display: block;
  color: gold;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
    padding-left: 27px;
}
