body{
    font-size: 100px;
    background-image: url(Poz.jpg);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-size: 40px
}
.kockica{
    background-color: rgb(112, 112, 112);
    border-radius: 30px;
    background: linear-gradient(100deg, rgb(174, 0, 193), rgb(54, 0, 180));
    border:3px solid rgb(24, 24, 24);
    width: 900px;
    height: 900px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    box-shadow: 5px 10px #c500cf;
}

td{
  border: 3px groove;
  font-size: 20px;
  padding: 20px;
  margin: auto;
  border-collapse: collapse;
}

th{
  border: 3px groove;
  font-size: 20px;
  padding: 20px;
  margin: auto;
  border-collapse: collapse;
}

table{
  border: 3px groove; 
  font-size: 20px;
  margin: auto; 
  border-radius: 14px;
}

.kartica{
    background-color: rgb(214, 0, 233);
    padding: 20px;
    text-align: center;
    border: 1px solid #bde5d3;
    margin-bottom: 20px;
    /* Od vas sam kopiral kad sam spec */
    transition: 0.25s;
}
.opacity:hover{
    background-color: rgb(54, 0, 180);
}

.levo{
    border: 3px groove;
  font-size: 20px;
  padding: 20px;
  margin: auto;
  border-collapse: collapse;
  border-top-left-radius: 15px;
}
.desno{
        border: 3px groove;
  font-size: 20px;
  padding: 20px;
  margin: auto;
  border-collapse: collapse;
  border-top-right-radius: 15px;
}
/* Kunem se delal sam sve rucno dajte pet plssssssssssssssssss*/ 